{% extends 'blog_base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/blog/edit_post.css' %}">

<div class="edit-container">
    <h2>{% trans "Edit Post" %}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Save Changes" %}</button>
    </form>
    <a href="{% url 'profile' %}" class="cancel-btn">{% trans "Cancel" %}</a>
</div>

{% endblock %}
