{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Courses" %}{% endblock %}

{% block content %}
    <div class="row">
        {% for course in courses %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ course.image.url }}" class="card-img-top" alt="{{ course.title }}">
                    <div class="card-body">
                        {% if LANGUAGE_CODE == 'ar' %}
                            <h5 class="card-title">{{ course.title }}</h5>
                        {% else %}
                            <h5 class="card-title">{{ course.title_en }}</h5>
                        {% endif %}
                        <p class="card-text"><strong>{% trans "Price" %}:</strong> {{ course.price }}</p>
                        <p class="card-text"><small class="text-muted">{% trans "Date added" %}: {{ course.created_at }}</small></p>
                        <a href="{% url 'course_page' course.id %}">{% trans "Details" %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
