{% extends 'base.html' %}
{% load i18n %}


{% block title %}{% trans "My Courses" %}{% endblock %}

{% block content %}
    <h1>{% trans "My Courses" %}</h1>
    <div class="row">
        {% for course in courses %}
            <div class="col-md-4">
                <a href="{% url 'content' course.id %}" class="text-decoration-none">
                    <div class="card">
                        {% if course.image %}
                            <img src="{{ course.image.url }}" class="card-img-top" alt="{{ course.title }}">
                        {% else %}
                            <img src="https://via.placeholder.com/300" class="card-img-top" alt="{% trans 'No image available' %}">
                        {% endif %}
                        <div class="card-body">
                            {% if LANGUAGE_CODE == 'ar' %}
                                <h5 class="card-title">{{ course.title }}</h5>
                            {% else %}
                                <h5 class="card-title">{{ course.title_en }}</h5>
                            {% endif %}
                            <p class="card-text"><small class="text-muted">{% trans "Date added" %}: {{ course.created_at }}</small></p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
